/*pinta o plano de fundo*/
body {
    background: #000080;
}
#galileu{
    width: 50%;
    margin: 20px;
    padding: 5px;
}
/*modifica a formataçao do título*/
#titulo {
    text-align: center;
    font-size: 30px;
    color: #1E90FF;
}

/*modifica a formataçao do texto*/
.texto { 
    text-align: center;
    color: #708090;
    font-size: 20px;
}
