body {
    background-color: #000080;
}

#titulo {
    text-align: center;
    font-size: 30px;
    color: #1E90FF;
}
.texto { 
    text-align: center;
    color: #708090;
    font-size: 20px;
}